<h1>Chirps#show</h1>
<h1>Chirp</h1>
<p><%= @chirp.body %></p>
- <i><%= @chirp.author %></i>
<%= link_to "Edit", edit_chirp_path(@chirp) %>
<%= link_to "Delete", chirp_path(@chirp), method: 'delete' %>
</p>
<%= link_to "Home", chirps_path %>
<%= image_tag @chirp.pic.url %>